body{
font-family:Arial;
background:#dfe6e9;
margin:0;
}

.container{
width:70%;
margin:30px auto;
background:white;
padding:25px;
}

h1{
text-align:center;
color:#2d3436;
}

h2{
color:#0984e3;
border-bottom:1px solid #ccc;
}

.center{
text-align:center;
}

ul{
padding-left:20px;
}

p{
font-size:15px;
}